body {
  user-select: none;
  padding: 0;
  margin: 0;
  background-color: #24292e;
}
.header {
  background-color: #1f2428;
  /* border: 1px solid black; */
  display: flex;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 7px 10px black;
  margin-bottom: 20px;
}
.head {
  background-color: #1f2428;
  text-shadow: 2px 2px black;
  color: red;
  margin: auto;
}

.yearcontainer {
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  height: 90px;
  width: 220px;
  border-radius: 15px;
  /* margin-top: 100px; */
  margin: auto;
  /* border: 1px solid white; */
  padding: 5px;
}

.year {
  margin-top: 30px;
  background-color: black;
  height: 50px;
  width: 200px;
  padding: 10px;

  border-radius: 15px;
  color: aliceblue;
  box-shadow: 0 7px 10px black;
}
.year:hover {
  user-select: none;
  box-shadow: 0px 0px 30px 5px black;
  font-size: 120%;
  font-weight: bold;
}

.content {
  text-align: center;
  margin-top: 8px;
  background-color: black;
}

/* .footer {
  height: 100px;

  width: 100%;
  display: flex;
  background-color: #1f2428;
  color: wheat;
} */

.footer {
  background-color: #1f2428;
  /*  border: 1px solid black;  */
  display: flex;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.foot {
  background-color: #1f2428;
  font-size: 18px;
  color: wheat;
  margin: auto;
}
/* .space {
  margin-top: 50px;
  height: 50px;
  width: 100%;
} */

.vidcontainer {
  /* border: 1px solid white; */
  margin-top: 20px;
  height: 560px;
}
.unitvid {
  float: left;
  margin-left: 50px;
  /* border: 1px solid rgb(20, 19, 19); */
  width: 75%;
  height: 550px;
  border-radius: 80px;
  /* margin: auto; */
}
.player {
  border-radius: 20px;
  box-shadow: 5px 8px 5px #181b1e;
}
.unitlink {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  /* border: 1px solid rgb(255, 255, 255); */
  width: 200px;
  height: 500px;
}
.link {
  /* border: 1px solid rgb(255, 255, 255); */
  background-color: black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  padding-top: 30px;
  font-size: 24px;
}
.link:active {
  box-shadow: 0px 0px 30px 5px black;
  font-size: 30px;
}

.notesdiv {
  width: 100%;
  /* border: 1px solid white; */
  height: 130px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #1f2428;
  color: aliceblue;
  font-size: 30px;
  padding: 5px;
}

@media screen and (max-width: 1200px) {
  .unitvid {
    float: none;
    /* margin-left: 50px; */
    /* border: 1px solid rgb(255, 255, 255); */
    width: 75%;
    height: 550px;
    border-radius: 80px;
    /* margin: auto; */
  }
  .vidcontainer {
    width: 100%;
    /* border: 1px solid rgb(159, 0, 0); */
    margin-top: 20px;
    height: 450px;
    margin: auto;
  }
  .unitvid {
    /* border: 1px solid rgb(217, 255, 0); */
    width: 100%;
    height: 450px;
    margin: auto;
  }
  .unitlink {
    display: flex;
    float: none;
    /* margin-top: px; */
    /* margin-right: 50px; */
    /* margin-bottom: 20px; */
    margin: auto;
    /* border: 1px solid rgb(51, 0, 255); */
    width: 90%;
    height: 50px;
    padding: 15px;
    background-color: #181b1e70;
  }
  .link {
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: black;
    margin: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    font-size: 15px;
  }
  .link:active {
    box-shadow: 0px 0px 30px 5px black;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .unitvid {
    float: none;
    /* margin-left: 50px; */
    /* border: 1px solid rgb(255, 255, 255); */
    width: 75%;
    height: 550px;
    border-radius: 80px;
    /* margin: auto; */
  }
  .vidcontainer {
    width: 100%;
    /* border: 1px solid rgb(159, 0, 0); */
    margin-top: 20px;
    height: 300px;
    margin: auto;
  }
  .unitvid {
    /* border: 1px solid rgb(217, 255, 0); */
    width: 100%;
    height: 250px;
    margin: auto;
  }
  .unitlink {
    display: flex;
    float: none;
    /* margin-top: px; */
    /* margin-right: 50px; */
    /* margin-bottom: 20px; */
    margin: auto;
    /* border: 1px solid rgb(51, 0, 255); */
    width: 90%;
    height: 50px;
    padding: 15px;
    background-color: #181b1e70;
  }
  .link {
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: black;
    margin: auto;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    font-size: 15px;
  }
  .link:active {
    box-shadow: 0px 0px 30px 5px black;
    font-size: 16px;
  }
}
